@import url( 'https://fonts.googleapis.com/css?family=Fontdiner+Swanky');
$dark: #161616;

.app {
  font-family: 'Fontdiner Swanky', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 0px 30px;
  background-color: #C7D6D5;
}

.gifts {
  animation: slideInUp 0.7s;
  min-width: 20vw;
  margin: 20px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;

  & .gift-card {
    box-shadow: 0 8px 16px 0 rgba(46, 61, 73, 0.16);
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 30px;
    padding: 20px;
    background-color: #fcfcfc;
    border-radius: 10px;
    min-width: 100px;
  }
}

.cards {
  column-count: 4;
  column-gap: 1em;

  & .flipping-card {
    cursor: pointer;
    animation-name: flipInY;
    margin-bottom: 10px;
    padding: 6px;
    background-color: #fcfcfc;
    border-radius: 10px;
    transition: all 1s ease;
    transform-style: preserve-3d;
  }
}

.front {
  transform: rotateY(180deg);
}

.hide {
  display: none;
}

.show {
  display: block !important;
}

.flip {
  transform: rotateY(-180deg);
}

.prize-icon {
  position: absolute;
  left: -36px;
}

.mobile {
  height: 80px;
  left: -16px;
  top: 7px;
}

.prize-text {
  width: 56px;
  align-self: flex-end;
}

.prize-count {
  top: -79px;
  color: #F7567C;
  left: 85px;
  font-size: 48px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  position: absolute;
}

.prizes-tobe-won {
  -webkit-text-stroke: 0.5px #52B788;
  align-self: center;
  font-size: 24px;
}

.prizes-you-won {
  -webkit-text-stroke: 0.5px #52B788;
  align-self: center;
  font-size: 26px;
}

.intro-text {
  color: #023436;
  font-size: 20px;
  align-self: center;
  text-align: center;
  letter-spacing: 1px;
  line-height: 2em;
}
@media only screen and (max-width: 1024px) {
  .app {
    flex-direction: column;
  }

  .gifts {
    flex-direction: row;
    justify-content: space-between;
  }

  .prizes-tobe-won {
    align-self: flex-start;
  }
}
@media only screen and (max-width: 650px) {
  .cards {
    column-count: 2;
    column-gap: 1em;
  }

  .gifts {
    flex-direction: column;
    justify-content: space-between;
  }
}
